* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(33, 223, 230);
    font-family: var(--font-family);
    line-height: 1.5;
    margin: 0;
    min-block-size: 100vh;
    padding: 5vmin;
    place-items: center;
}

:root {
    --primary-color: rgba(33, 223, 230, 0.95);
    --overlay-color: linear-gradient(244deg, #e70af2, #009bff, #4abde3);
    --addl-color: rgba(74, 189, 227);
    --font-family: Verdana, Geneva, sans-serif;
}

.container {
    width: 75%;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    min-height: 80vh;
    overflow-y: auto;
    margin-top: 10px;
    display: block;
    justify-content: center;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 0em 0em 1em;
    font-family: var(--font-family);
    font-weight: 500;
    margin-top: 10px;
}

label {
    font-size: 1.1rem;
    text-align: center;
    padding: 0em 0em 1em;
    font-family: var(--font-family);
    font-weight: 350;
    margin-top: 3px;
}

input {
    padding: 0.9rem 0.9rem;
    width: 80%;
    border-radius: 20px;
    border: none;
    color: black;
    transition: opacity .6s ease-in-out;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 13px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

input:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

input::placeholder {
    color: #888;
    opacity: 1;
}

.hr-shadow {
    margin-bottom: 20px;
    padding: 0;
    height: 10px;
    border: none;
    border-top: 1px solid #333;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.button {
    border-radius: 10px;
    display: inline-block;
    border: none;
    background-color: rgb(222, 159, 66);
    color: white;
    padding: 1rem 2rem;
    transition: opacity .6s ease-in-out;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    vertical-align: middle;
    cursor: pointer;
    width: 70%;
    margin-top: 45px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.button:hover {
    opacity: .95;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.clear-button {
    border-radius: 10px;
    display: inline-block;
    border: none;
    background-color: rgb(220, 53, 69);
    color: white;
    padding: 0.8rem 1.6rem;
    transition: opacity 0.6s ease-in-out, transform 0.2s ease-in-out;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    float: right;
    margin-top: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.clear-button:hover {
    opacity: 0.9;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

form {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#error-message {
    font-size: 1.1rem;
    text-align: center;
    padding: 0em 0em 1em;
    font-family: var(--font-family);
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: -20px;
}

.canva {
    margin-bottom: 60px;
}

svg {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

svg:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

table {
    width: 100%;
    border-collapse: collapse;
}

#result-table {
    margin-top: 10px;
    margin-bottom: 20px;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

td:nth-child(-n+4), th:nth-child(-n+4) {
    width: 10%;
}

td:nth-child(n+5), th:nth-child(n+5) {
    width: 30%;
}

ul {
    list-style-type: none;
}

#scroll-down-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#scroll-down-btn button {
    background-color: rgb(0, 0, 128);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
